<%= 'Welcome' %>

<%= link_to 'Meetings', meetings_path %>
<%= link_to 'Uniforms', uniforms_path %>
<%= link_to 'Leaders', leaders_path %>
<%= link_to 'Projects', projects_path %>
<%= link_to 'Forms', forms_path %>

<p>Welcome to the official site for all things Girl Scout Troop 713! Here you'll find all the info you need on upcoming meetings, ongoing projects, and download forms. Have a look around and give us a shout if you have any questions.</p>